<!-- templates/about/author.html -->
{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-md-3 mb-3 mt-1">
      <div class="card">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="h3">
                Об авторе
              </div>
            </li>
            <li class="list-group-item">
              <div class="h6 text-muted">
                Меня зовут Александр, мне 38 лет.
                Постигаю азы backend-разработки.
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="card-body">
        <div class="card-text">
          <p>Интернет-технологии и компьютерная наука вихрем ворвались в нашу жизнь. Трудно представить, но возможность расплатиться
          в такси безналичным расчётом 20 лет назад воспринималась как космические технологии. Сегодня этому не удивится даже моя бабушка.
          К 40 годам решил поменять свою жизнь, и всё-таки "войти-в-айти". Всё гораздо легче, чем представлялось,
            но в тоже время труебует усидчивости и настойчивости, особенно после преодоления первичного восторга.
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}